$margin: 5px;

.show {
  border:1px solid darkorange;
  background: black;
  width: 300px;
  min-height: 10px;
  margin-bottom: $margin;
  padding: $margin;
  transition: ease-in-out 0.3s;
  color: darkorange;


  &__locatie {
    //display: inline;
    margin-right: $margin;
  }

  &__vak {
    //display: inline;
    background: darkorange;
    padding: $margin;
  }

  &__klas {
    //display: inline;
    padding: $margin;
  }

  &:hover {
    //background: ;
    transition: ease-in-out 0.3s;
  }

}