$margin: 5px;

.teacher {
  background:  #35424B;
  width: 300px;
  min-height: 10px;
  margin-bottom: $margin;
  color: white;
  padding: $margin;
  transition: ease-in-out 0.3s;


  &__name {
    display: inline;
    margin-right: $margin;
  }

  &__age {
    display: inline;
    background: black;
    padding: $margin;
  }

  &__adress {
    display: inline;
    padding: $margin;
  }

  &:hover {
    background:  darkslategreyz;
    transition: ease-in-out 0.3s;
  }

}